<?xml version="1.0" encoding="utf-8"?>
<!--
/*
    TimisoaraPublicTransport - display public transport information on your device
    Copyright (C) 2011-2012  Mihai Balint

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. 
*/
 -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="ro.mihai.tpt"
      android:versionName="3.3" android:versionCode="33"
      android:installLocation="auto">
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
	<uses-sdk android:minSdkVersion="4" android:targetSdkVersion="17"/>
	<supports-screens
		android:resizeable="true"
		android:smallScreens="true"
		android:normalScreens="true"
		android:largeScreens="true"
		android:xlargeScreens="true"
		android:anyDensity="true"
	/>
	<application
	    android:icon="@drawable/icon"
	    android:label="@string/app_name"
	    android:testOnly="false"
	    android:allowBackup="true">
        <activity android:name="ro.mihai.tpt.LoadCity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="ro.mihai.tpt.ViewCatFavorites" />
        <activity android:name="ro.mihai.tpt.ViewCatTrams" />
        <activity android:name="ro.mihai.tpt.ViewCatBusses" />
        <activity android:name="ro.mihai.tpt.ViewCatTrolleys" />
        <activity android:name="ro.mihai.tpt.ViewTimes" />
        <activity android:name="ro.mihai.tpt.ViewCredits" />
        <activity android:name="ro.mihai.tpt.ViewUserCredits" />
        <activity android:name="ro.mihai.tpt.Preferences" />
        <service android:name=".data.DataService"
            android:permission="android.permission.INTERNET"
			android:icon="@drawable/icon"
			android:label="@string/service_name">
			<intent-filter>
				<action android:name="ro.mihai.tpt.UPDATE_LINE" />
				<action android:name="ro.mihai.tpt.UPDATE_STATIONS" />
			</intent-filter>
		</service>
        <receiver android:name="ro.mihai.tpt.WidgetStation" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/station_widget_provider" />
        </receiver>        
        		
    </application>
</manifest> 